<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>{{title}}{{#if pkg.version}} {{pkg.version}}{{/if}}</title>
    {{#if description}}
    <meta name="description" content="{{description}}">
    {{/if}}
    <script>
        window.data = function() {
            console.log({{{stringified}}})
        }
    </script>
</head>

<body>
    <p>{{stringified}}</p>
</body>
</html>
